.progress-indicator .text {
    visibility: hidden;
    -fx-fill: aqua;
    -fx-max-height: 0;
    -fx-scale-x: 0;
    -fx-font-size: 0;
}

.progress-indicator .percentage {
    visibility: hidden;
}

/*.progress-indicator  {*/
    /*-fx-padding: 0 0 -16 0;*/
/*}*/

/*.progress-indicator:indeterminate {*/
    /*-fx-padding: 0 0 -32 0;*/
/*}*/

.searchOptionsPanel {
    -fx-padding: 5;
}

.commitButtonPanel {
    -fx-padding: 5;
}

.windowHint {
    -fx-padding: 5 5 0 5;
}