.state {
    -fx-background-color: radial-gradient(focus-angle 45deg, focus-distance 20%, center 75% 25%, radius 50%, aliceblue, lightblue);
}

.updatedLabel {
    -fx-font-size: 8pt;
    -fx-font-style: italic;
}

.dataGroup .ikonli-font-icon {
    -fx-padding: 0 10 0 10;
}

.dustLabel {
    -fx-font-size: 8pt;
}

.meter {
    -fx-font-weight: bold;
}

.toolbar {
    -fx-background-color: black;
    -fx-fill: white;
}

.toolbar .ikonli-font-icon {
    -fx-icon-size: 16;
    /*-fx-icon-color: white;*/
}

.toolbar .jfx-button {
    -jfx-button-type: FLAT;
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.toolbar .jfx-rippler {
    -fx-border-radius: 0;
}